.admin_add_personel_container{
    width: 50%;
    margin:10px  auto;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    overflow: hidden;
}
.admin_add_personel_form_logos{
    width:100px;
}
.form_header{
    width:100%;
    background-color:rgb(10, 20, 64);
    padding:5px;
}

.form_header_title{
    color:white;
}