.college_page{
    width:100%;
}
.side_bar_container{
    width:100%;
    background-color: rgb(18, 21, 46);
    height:100vh;
}
.side_bar_container_header{
    width:100%;
}
.side_bar_container_role_title{
    color:white;
}
.side_bar_container_profile_container{
    width:100%;
    padding:5px;
    margin:10px auto;
}
.admin_sidebar_profile_icon{
    width:110px;
}
.admin_sidebar_profile_name{
    color:white;
}.admin_sidebar_profile_email{
    color:white;
}
.sidebar_menu_container{
    width:100%;
    padding:10px;
}
.sidebar_menu_icons{
    width:25px;
}
.sidebar_menu{
    padding:0px;
    margin:0px;
}
.links{
    font-size: 12pt;
    font-family: Roboto;
    text-decoration: none;
    color:white;
    
}
.list{
    list-style: none;
    width: 100%;
    margin-top:10px;
    padding:5px;
    transition: .5s;
    border-radius: 10px;
}
.links:hover .list{
    background-color: #F24162;
    color:white;
}
.admin_content_header{
    width:100%;
    padding:5px;
}
.sidebar_admin_content_header_logo{
    width:55px;
}
.sidebar_admin_content_title, .sidebar_admin_content_header_logo{
    display: inline-block;
}
.college_content_board{
    width:100%;
}
.admin_content_dashboard{
    width:100%;
}
.college_departments_page{
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
    overflow: hidden;
}
.college_departments_header{
    background-color: rgb(18, 21, 46);
    color:white;
}

.college_departments_action_warpper{
    width: 20%;
    float: right;
    margin:10px;
}
.add_icon{
    width:20px;
    margin-right: 10px;
}

.college_departments_page_department_table_wrapper{
    width:100%;
    margin:10px auto;
    overflow: hidden;
    height: 65vh;
    padding:10px;
}
.college_departments_page_department_table_container{
    width:100%;

}