@media print {
    /* Print-specific styles here */
    body {
        font-family: Arial, sans-serif;
        font-size: 10pt;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 18pt;
    }

    .my_purchased_items_buttons{
        display: none;
    }

    #my_purchased_item_table thead th td{
        background-color: rgb(247, 150, 70) !important;
        border: 1px solid black !important;
        text-align: center !important;
        vertical-align: middle !important;
    }
    
    
    /* Adjust other styles as needed for printing */
}

.my_purchased_items{
    width:100%;
    
}
.my_items_pdf_body{
    overflow: hidden;
}
#my_purchased_item_table thead th{
    background-color: rgb(247, 150, 70);
    border: 1px solid black;
    text-align: center; /* Center horizontally */
    vertical-align: middle;
}

.my_purchased_items_buttons{
    width:100%;
    position: fixed;
    padding:10px;
    float:right;
}